/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

* {
  box-sizing: border-box;
}

body {
  background-color: #34495e;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  margin: 0;
  overflow: hidden;
}

.game-container {
  padding: 0px 30px;
  position: relative;
  margin: auto;
  /* height: 350px; */
  width: 500px;
}

.figure {
  fill: transparent;
  stroke: rgb(0, 0, 0);
  stroke-width: 4px;
  stroke-linecap: round;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.figure-body-part {
  display: none;
}

.phrase {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.word {
  display: flex;
  margin: 0px 10px;
}

.letter {
  border-bottom: 3px solid #2980b9;
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.space {
  display: inline-flex;
  font-size: 30px;
  align-items: center;
  justify-content: center;
  margin: 0 3px;
  height: 50px;
  width: 20px;
}

.keyboard-key {
  width: 40px;
  height: 40px;
}

@media (max-width: 576px) {
  .keyboard-key {
    width: 31px;
    height: 31px;
  }

  .game-container {
    position: relative;
    margin: auto;
    width: 100%;
  }
}